.chat-heads {
  margin: 0.7rem 0;

  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;
  padding-left: 0;
}

.chat-heads > li {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  animation: fadeInChatHead 0.4s both cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

.chat-heads > li:nth-child(2) { animation-delay: 0.1s; }
.chat-heads > li:nth-child(3) { animation-delay: 0.2s; }
.chat-heads > li:nth-child(4) { animation-delay: 0.3s; }
.chat-heads > li:nth-child(5) { animation-delay: 0.4s; }
.chat-heads > li:nth-child(6) { animation-delay: 0.5s; }
.chat-heads > li:nth-child(7) { animation-delay: 0.6s; }
.chat-heads > li:nth-child(8) { animation-delay: 0.7s; }

.chat-head-img {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  background-size: cover;
}

.chat-head-name {
  display: none;
}

@keyframes fadeInChatHead {
  0% {
    transform: scale(0) translateY(-7px);
    opacity: 0;
  }
}
