.header {
  text-align: center;
  margin-bottom: 2rem;
}

.header h1 {
  margin-bottom: 0;
  font-weight: 200;
  text-rendering: optimizeLegibility;
  letter-spacing: 0.05em;
  color: #666;

}

.header a[href*="github.com"] {
  animation: fadeIn 0.65s both 2.4s ease-out;
}
